<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droi.sdk.droifeedbackdemo"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.droi.sdk.application_id"
            android:value="duvtmbzhcbuo0rxWSsqlXWZiJEG8WS_wlQCKaLoC" />
        <meta-data
            android:name="com.droi.sdk.channel_name"
            android:value="DROI_CHANNEL" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>